/* Layout geral */

.container {
  display: flex;
  min-height: 100vh;
  position: relative;
  transition: all 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
  padding: 20px;
  flex-shrink: 0;
  overflow-y: auto;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.main {
  margin-top: 60px;
  margin-left: 250px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #ffffff;
  width: calc(100% - 250px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffcf78;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1100;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .container.sidebarOpen .sidebar {
    transform: translateX(0);
  }

  .main {
    margin-left: 0;
    width: 100%;
  }
}
